<h1>Actuacions per a la incidència <%= incidencia.id %></h1>

<p><strong>Descripció:</strong> <%= incidencia.descripcio %></p>
<p><strong>Tècnic:</strong> <%= incidencia.tecnic ? incidencia.tecnic.nom : 'Sense tècnic' %></p>
<p><strong>Departament:</strong> <%= incidencia.departament ? incidencia.departament.nom : 'Sense departament' %></p>
<p><strong>Tipus d'incidència:</strong> <%= incidencia.tipus_incidencium ? incidencia.tipus_incidencium.nom : 'Sense tipus' %></p>

<h3>Actuacions:</h3>
<table>
  <thead>
    <tr>
      <th>Tècnic</th>
      <th>Descripció</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <% actuacions.forEach(actuacio => { %>
      <tr>
        <td><%= actuacio.tecnic ? actuacio.tecnic.nom : 'Sense tècnic' %></td>
        <td><%= actuacio.descripcio %></td>
        <td><%= actuacio.data_actuacio ? actuacio.data_actuacio.toLocaleString() : 'Sense data' %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<a href="/incidencies" class="btn btn-primary">Tornar a la llista d'incidències</a>
