<%- include('../partials/header', { title: 'Llista d\'incidències', bodyClass: 'bg-dark text-white bg-opacity-50' }) %>
<style>
  .custom-button {
    background: white;
    font-family: inherit;
    padding: 0.3em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: inline-block;
  }

  .custom-button:hover {
    background: rgb(250, 86, 86);
    color: white;
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.20em 0.15em;
  }

  .custom-button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

  .custom-button-primary {
    background: rgb(255, 255, 255);
    color: black;
  }

  .custom-button-primary:hover {
    background: black;
    color: white;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .mb-3{
    color: black;
    font-weight: bold;
  }
</style>

<div class="container mt-5">
  <h1 class="titulo">CREAR NOVA ACTUACIÓ</h1>
  <br>

  <form action="/incidencies/actuacions/crear" method="POST">
    <input type="hidden" name="id_incidencia" value="<%= id_incidencia %>">

    <div class="mb-3">
      <label for="tecnic_id" class="form-label">TÈCNIC</label>
      <select name="tecnic_id" class="form-select" required>
        <% tecnics.forEach(tecnic => { %>
          <option value="<%= tecnic.id_tecnic %>"><%= tecnic.nom %></option>
        <% }); %>
      </select>
    </div>

    <div class="mb-3">
      <label for="dat" class="form-label">DATA</label>
      <input type="datetime-local" name="dat" id="dat" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="descripcio" class="form-label">DESCRIPCIÓ</label>
      <textarea name="descripcio" class="form-control" rows="4" required></textarea>
    </div>

    <div class="mb-3">
      <label for="temps_invertit" class="form-label">TEMPS INVERTIT (minuts)</label>
      <input type="number" name="temps_invertit" class="form-control" required>
    </div>

    <div class="button-group">
  <a href="/incidencies/<%= id_incidencia %>/actuacions" class="custom-button">Cancel·lar</a>
  <button type="submit" class="custom-button custom-button-primary">Crear actuació</button>
</div>
  </form>
</div>

<div style="height: 200px;"></div>
<%- include('../partials/footer') %>
