<%- include('../partials/header', { title: 'Registre d\'Activitat', bodyClass: 'bg-dark text-white bg-opacity-50' }) %>

<div style="height: 40px;"></div>
<h1 class="titulo">REGISTRE D'ACTIVITAT</h1>

<table class="table table-hover table-dark">
  <br>
  <thead>
    <tr>
      <th>USUARI</th>
      <th>ACCIÓ</th>
      <th>MISSATGE</th>
      <th>RUTA</th>
      <th>IP</th>
      <th>DATA</th>
    </tr>
  </thead>
  <tbody>
    <% logs.forEach(log => { %>
      <tr>
        <td><%= log.usuari %></td>
        <td><%= log.accio %></td>
        <td><%= log.missatge %></td>
        <td><%= log.ruta %></td>
        <td><%= log.ip %></td>
        <td><%= new Date(log.data).toLocaleString() %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<div style="height: 350px;"></div>

<%- include('../partials/footer') %>
