<%- include('../partials/header', { title: 'Llista d\'incidències', bodyClass: 'bg-dark text-white bg-opacity-50' }) %>
<style>
  .custom-button {
  background: white;
  font-family: inherit;
  padding: 0.3em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.custom-button:hover {
  background: black;
  color: white;
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.20em 0.15em;
}

.custom-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.mb-3{
    color: black;
    font-weight: bold;
     text-transform: uppercase;
  }
</style>

<div style="height: 30px;"></div>
<h1 class="titulo">NOVA INCIDÈNCIA </h1>
<br>

<form action="/incidencies/create" method="POST">
  <!-- Descripción -->
  <div class="mb-3">
    <label for="descripcio" class="form-label">Descripció</label>
    <textarea name="descripcio" class="form-control" rows="3" required></textarea>
  </div>

  <!-- Estado -->
  <div class="mb-3">
    <label for="estat" class="form-label">Estat</label>
    <select name="estat" class="form-select" required>
      <option value="Abierta">Oberta</option>
      <option value="En progreso">En progrés</option>
      <option value="Resuelta">Resoluta</option>
    </select>
  </div>

  <!-- Prioridad -->
  <div class="mb-3">
    <label for="prioridad" class="form-label">Prioritat</label>
    <select name="prioridad" class="form-select" required>
      <option value="Baixa">Baixa</option>
      <option value="Mitja">Mitja</option>
      <option value="Alta">Alta</option>
    </select>
  </div>

  <!-- Departamento -->
  <div class="mb-3">
    <label for="id_dpt" class="form-label">Departament</label>
    <select name="id_dpt" class="form-select" required>
      <%departaments.forEach(departament => { %>
        <option value="<%= departament.id_dpt %>"><%= departament.nom %></option>
      <% }) %>
    </select>
  </div>

  <!-- Técnico -->
  <div class="mb-3">
    <label for="tecnic_id" class="form-label">Tècnic</label>
    <select name="tecnic_id" class="form-select" required>
      <% tecnics.forEach(tecnic => { %>
        <option value="<%= tecnic.id_tecnic %>"><%= tecnic.nom %></option>
      <% }) %>
    </select>
  </div>

  <!-- Tipo de incidencia -->
  <div class="mb-3">
    <label for="id_tipus" class="form-label">Tipus d'incidència</label>
    <select name="id_tipus" class="form-select" required>
      <% tipusIncidencia.forEach(tipus => { %>
        <option value="<%= tipus.id_tipus %>"><%= tipus.nom %></option>
      <% }) %>
    </select>
  </div>
<div class="text-end">
  <button type="submit" class="custom-button">Crear</button>
</div>
</form>

<div style="height: 250px;"></div>
<%- include('../partials/footer') %>
