<%- include('../partials/header', { title: 'Llista d\'incidències', bodyClass: 'bg-crema' }) %>

<h1 class="mb-4"><%= incidencia.descripcio %></h1>

<table class="table table-success">
  <thead>
    <th>TÈCNIC</th>
    <th>DEPARTAMENT</th>
    <th>TIPUS D'INCIDÈNCIA</th>
    </thead>
  <tbody>
      <td><%= incidencia.tecnic ? incidencia.tecnic.nom : 'Sense tècnic' %></td>
      <td><%= incidencia.departament ? incidencia.departament.nom : 'Sense departament' %></td>
      <td><%= incidencia.tipus_incidencium ? incidencia.tipus_incidencium.nom : 'Sense tipus' %></td>
  </tbody>
</table>

<h3 class="mb-3">Actuacions:</h3>

<div class="list-group mb-4">
  <% actuacions
      .sort((a, b) => new Date(b.data_actuacio) - new Date(a.data_actuacio))
      .forEach(actuacio => { %>
    <div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= actuacio.tecnic ? actuacio.tecnic.nom : 'Sense tècnic' %></h5>
        <small class="text-muted"><%= actuacio.data_actuacio ? new Date(actuacio.data_actuacio).toLocaleString() : 'Sense data' %></small>
      </div>
      <p class="mb-1"><%= actuacio.descripcio %></p>
    </div>
  <% }) %>
</div>

<a href="/Incidencies_user" class="btn btn-primary">Tornar a la llista d'incidències</a>


<%- include('../partials/footer') %>
