<%- include('../partials/header', { title: 'Llista d\'incidències', bodyClass: 'bg-crema' }) %>
<div style="height: 40px;"></div>
<h1 class="titulo">LLISTA D'INCIDÈNCIES </h1>

<table class= "table table-success">
  <br><br>
  <thead>
    <tr>
      <th>ID  </th>
      <th>DESCRIPCIÓ </th>
      <th>ESTAT</th>
      <th>PRIORITAT </th>
      <th>DEPARTAMENT</th>
      <th>TÈCNIC</th> 
      <th>ACCIONS</th>
    </tr>
  </thead>
  <tbody>
    <% incidencies.forEach(inc => { %>
      <tr>
        <td><%= inc.id %></td>
        <td><%= inc.descripcio %></td>
        <td><%= inc.estat %></td>
        <td><%= inc.prioridad %></td>
        <td><%= inc.DEPARTAMENT ? inc.DEPARTAMENT.nom : 'No asignado' %></td>
        <td><%= inc.TECNIC ? inc.TECNIC.nom : 'No asignado' %></td>
        <td>
          <form action="/incidencies_user/<%= inc.id %>/actuacions" method="GET">
            <button type="submit">Veure</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<div style="height: 350px;"></div>

<%- include('../partials/footer') %>
